.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    
}